* {
	box-sizing: border-box;
}

.grid-container {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-template-areas:
		'header'
		'nav'
		'main';
	@media (min-width: 768px) {
		grid-template-columns: 55px 1fr;
		grid-template-areas:
			'header header'
			'nav main';
	}
	@media (min-width: 1024px) {
		grid-template-columns: 120px 1fr;
	}
}

header {
	grid-area: header;
}

nav {
	grid-area: nav;
}

main {
	grid-area: main;
	display: grid;
	@media (min-width: 768px) {
		grid-template-columns: 50% 50%;
	}
}

.main-header {
	@media (min-width: 768px) {
		grid-column: 1 / span 2;
	}
}

.alert {
	@media (min-width: 768px) {
		grid-column: 1 / span 2;
	}
}

.traffic {
	@media (min-width: 768px) {
		grid-column: 1 / span 2;
	}
}

.social-container {
	@media (min-width: 768px) {
		grid-column: 1 / span 2;
	}
}

.daily {
	@media (min-width: 768px) {
		grid-column: 1 / span 1;
	}
}

.members {
	@media (min-width: 768px) {
		grid-column: 1 / span 1;
		background: grey;
	}
}

.message {
	@media (min-width: 768px) {
		grid-column: 1 / span 1;
	}
}

.mobile-users {
	@media (min-width: 768px) {
		grid-column: 2 / span 1;
	}
}

.activity {
	@media (min-width: 768px) {
		grid-column: 2 / span 1;
	}
}

.settings {
	@media (min-width: 768px) {
		grid-column: 2 / span 1;
	}
}

.widget-container-full​ {
	width: 95vw;
	@media (min-width: 768px) {
		width: 90vw;
	}
}

.widget-container-half​ {
	width: 95vw;
	@media (min-width: 768px) {
		width: 45vw;
	}
}
